body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #484848;
  background: #fcfcfc;
  padding: 0 10px;
}

canvas {
  border: 3px solid black;
}

#main-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor {
  display: block;
  box-sizing: padding-box;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  border: 0;
}
